[submodule "thirdparty/libcrashreporter-qt"]
	path = thirdparty/libcrashreporter-qt
	url = https://github.com/dmitrio95/libcrashreporter-qt.git
[submodule "thirdparty/libsndfile"]
	path = thirdparty/libsndfile
	url = https://github.com/Xmader/libsndfile.git
[submodule "thirdparty/flac"]
	path = thirdparty/flac
	url = https://github.com/xiph/flac.git
[submodule "thirdparty/brotli"]
	path = thirdparty/brotli
	url = https://github.com/google/brotli.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
